.rally-bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
}

.rally__attendees-1 {
	position: fixed;
	left: -25px;
	bottom: 220px;
}
.rally__attendees-2 {
	position: fixed;
	left: 147px;
	bottom: 180px;
}
.rally__attendees-3 {
	position: fixed;
	left: -25px;
	bottom: 130px;
}
.rally__attendees-4 {
	position: fixed;
	left: 147px;
	bottom: 80px;
}
.rally__attendees-5 {
	position: fixed;
	left: -25px;
	bottom: 20px;
}
.rally__attendees-6 {
	position: fixed;
	left: 147px;
	bottom: -10px;
}

.rally__active__right {
	animation-name: slideRight;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.rally__active__left {
	animation-name: slideLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes slideRight {
	to {
		left: 500px;
	}
}

@keyframes slideLeft {
	to {
		left: -500px;
	}
}

.rally__shout {
	position: fixed;
	bottom: 10px;
	font-size: 20px;
	background: #EC644B;
	border: 1px solid red;
	color: white;
	font-weight: bold;
	padding: 5px 32px;
	border-radius: 3px;
	left: 130px;
}

.rally__sad {
	position: fixed;
	top: -6px;
	left: 128px;
	width: 120px;
}