.EndTimes {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #383838, #000);
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1.6em;
}

.EndTimes--text-only {
  justify-content: center;
}

.EndTimes__hand-animation {
  position: absolute;
  top: 0;
  width: 100%;
  animation: EndTimes__HandMove 1.2s forwards ease-in;
}

@keyframes EndTimes__HandMove {
  to {
    top: 120px;
  }
}

.EndTimes__bigred {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}

.EndTimes__gif {
  background-image: url(../assets/nuke.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.EndTimes__button {
  width: 400px;
  margin: auto;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 200px);
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}