.InfoCard {
  display: flex;
  flex-direction: column;
}

.InfoCard__title, .InfoCard__content {
  text-align: center;
}

.InfoCard__button {
  width: 400px;
  margin: auto;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 200px);
}
