.Map {
  background-image: url(../assets/map.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.Map__Marker {
  position: absolute;
}